@charset "UTF-8";
.debug {
  color: #fa00d4;
  opacity: .3; }
  .debug:before {
    content: '' !important; }

/* Texto */
/* Menú texto y H3, Menú membresias */
/* H2  */
/* H1 */
/* banner */
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  font-size: 12px; }

#vbody {
  max-width: 100%;
  margin: 0px auto;
  padding: 0px;
  border: 0px; }

.ir {
  cursor: pointer; }

.separador {
  width: 100%;
  height: 40px; }
  .separador:before {
    content: '[separador]--------->'; }

.separador2 {
  width: 100%;
  height: 60px; }
  .separador2:before {
    content: '[separador 2]--------->'; }

.separador3 {
  width: 100%;
  height: 80px; }
  .separador3:before {
    content: '[separador 3]--------->'; }

.aire {
  width: 100%;
  height: 3000px; }
  .aire:before {
    content: '[aire]--------->'; }

.texto {
  font-size: 1.2em; }

/*----------  Target animados  ----------*/
.mascara1 {
  left: 0%; }

.mascara2 {
  background: -webkit-linear-gradient(left, rgba(230, 161, 74, 0) 0%, #e6a14a 65%, #e6a14a 100%);
  background: linear-gradient(to right, rgba(230, 161, 74, 0) 0%, #e6a14a 65%, #e6a14a 100%);
  left: 34%; }

.mascara3 {
  background-color: white;
  left: 68%; }

.mascara {
  width: 34%;
  height: 100%;
  position: absolute; }

.mascara-cont {
  position: absolute;
  width: 320%;
  height: 100%;
  left: -220%; }

[target] {
  position: relative;
  overflow: hidden; }

.fuente1 {
  font-family: 'Nunito Sans', sans-serif; }

.fuente2 {
  font-family: 'Julius Sans One', sans-serif; }

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3em;
  color: rgba(21, 26, 40, 0.9); }

h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2em;
  color: rgba(21, 26, 40, 0.9); }

h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5em;
  color: rgba(21, 26, 40, 0.9); }

.menu-texto {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  color: rgba(21, 26, 40, 0.9); }
  .menu-texto a {
    color: inherit; }

.menu-texto-contenedor {
  margin: 10px; }

.texto-banner {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  font-weight: lighter;
  margin: 0px auto;
  text-align: center; }

.swiper-container {
  width: 100%;
  height: 500px; }

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center; }

/*----------  Menu sticky  ----------*/
#menu-sticky {
  position: relative;
  z-index: 999999 !important;
  width: 100% !important; }

#menu-contenedor {
  width: 100%; }

#menu {
  max-width: 100%;
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  background-color: white;
  padding-right: 50px;
  padding-left: 50px; }

#sombra-emulada {
  width: 100%;
  height: 40px;
  background: url(../images/sombra.png?c=2) no-repeat top center;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

#home-banner1 {
  position: relative;
  z-index: 99998 !important; }

#svg1-icon g path {
  stroke: none;
  fill: #E8AA5C; }

#logo-svg {
  min-width: 150px;
  width: 10%; }

/*----------  Parallax [ 1 ] ----------*/
#parallax1 {
  width: 100%;
  height: 700px;
  z-index: 99918 !important; }

#parallax1-img {
  background-size: 100% auto; }

.parallaxParent {
  height: 100vh; }

.parallaxParentOverFlow {
  overflow: hidden; }

.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%; }

/*----------  Parallax [ 2 ]  ----------*/
#parallax2 {
  width: 100%;
  height: 400px;
  z-index: 99919 !important; }

#parallax2-img {
  background-size: 100% auto; }

.parallaxParent2 {
  height: 100vh;
  position: relative; }

.parallaxParent2 > * {
  height: 230%;
  position: relative;
  top: -100%; }

.home-liquido-menu {
  width: 50%;
  min-width: 200px;
  margin: 0px auto; }

.cuadro-liquido {
  width: 50%;
  left: 25%;
  height: 300px;
  background-color: rgba(21, 26, 40, 0.85);
  position: absolute;
  top: 0px; }
  .cuadro-liquido h1, .cuadro-liquido h3 {
    color: rgba(255, 255, 255, 0.9); }
  .cuadro-liquido .home-liquido-subtitulo {
    padding-bottom: 20px;
    border-bottom: 2px solid #db7d0a; }
  .cuadro-liquido .home-menu-subtitulo {
    padding-bottom: 20px; }

.cuadro-liquido2 {
  width: 50%;
  left: 25%;
  height: 300px;
  background-color: rgba(219, 125, 10, 0.8);
  position: absolute;
  top: 0px; }
  .cuadro-liquido2 h1, .cuadro-liquido2 h3 {
    color: rgba(255, 255, 255, 0.9); }

/*----------  Parallax [ 3 ]  ----------*/
#parallax3 {
  width: 100%;
  height: 700px !important;
  z-index: 99917 !important; }

#parallax3-img {
  background-size: 100% auto; }

.boton {
  padding: 10px;
  background-color: white; }

/*----------  Parallax [ 4 ]  ----------*/
#parallax4 {
  width: 100%;
  height: 400px;
  z-index: 99917 !important; }

#parallax4-img {
  background-size: 100% auto; }

/*----------  Parallax [ 5 ]  ----------*/
#parallax5 {
  width: 100%;
  height: 700px !important;
  z-index: 99917 !important; }

#parallax5-img {
  background-size: 100% auto; }

/*----------  Parallax [ 6 ]  ----------*/
#parallax6 {
  width: 100%;
  height: 400px !important;
  z-index: 999917 !important; }

#parallax6-img {
  background-size: 100% auto !important; }

.home-liquido-menu6 {
  width: 50%;
  min-width: 200px;
  margin: 0px auto; }

.cuadro-liquido6 {
  width: 50%;
  left: 25%;
  height: 300px;
  background-color: rgba(103, 20, 19, 0.8);
  position: absolute;
  top: 0px; }
  .cuadro-liquido6 h1, .cuadro-liquido6 h3 {
    color: rgba(255, 255, 255, 0.9); }
  .cuadro-liquido6 .home-liquido-subtitulo {
    padding-bottom: 20px;
    border-bottom: 2px solid #db7d0a; }
  .cuadro-liquido6 .home-menu-subtitulo {
    padding-bottom: 20px; }

/*----------  Parallax [ 7 ]  ----------*/
#parallax7 {
  width: 100%;
  height: 700px !important;
  z-index: 99917 !important; }

#parallax7-img {
  background-size: 100% auto; }

/*----------  Small  ----------*/
@media only screen and (max-width: 40em) {
  html, body, div {
    verflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    /* For some Androids */ }
  #ogo-svg {
    margin-left: 20px; }
  .swiper-container {
    height: 300px !important; }
  .texto-banner {
    font-size: 4em;
    width: 75%;
    margin: 0px auto;
    text-align: center;
    margin-top: 100px; }
  .svg-elemento {
    width: 60% !important;
    padding: 30px !important; }
  .texto-banner {
    font-size: 2em; }
  /*----------  Menu pegajoso  ----------*/
  #menu-sticky {
    position: fixed;
    left: 0px;
    top: 0px;
    position: device-fixed; }
  .separador {
    height: 20px !important; }
  .separador-movil {
    height: 10px !important; }
  #sombra-emulada {
    opacity: 1 !important;
    background-size: 100% auto;
    background-position: top center; }
  /*----------  Parallax Small  ----------*/
  .cuadro-liquido, .cuadro-liquido2, .cuadro-liquido6 {
    width: 85% !important;
    left: 8% !important; }
  #parallax1 {
    width: 100%;
    height: 400px !important; }
  #parallax2 {
    width: 100%;
    height: 420px !important; }
  #parallax3 {
    width: 100%;
    height: 400px !important; }
  #parallax4 {
    width: 100%;
    height: 420px !important; }
  #parallax5 {
    width: 100%;
    height: 400px !important; }
  #parallax6 {
    width: 100%;
    height: 420px !important; }
  #parallax7 {
    width: 100%;
    height: 420px !important; }
  #parallax1-img {
    background: url(../m.images/home-mujer.jpg?c=2) no-repeat center center; }
  #parallax2-img {
    background: url(../m.images/home-liquido.png?c=2) no-repeat center center; }
  #parallax3-img {
    background: url(../m.images/home-cafe.jpg?c=2) no-repeat center center; }
  #parallax4-img {
    background: url(../m.images/home-bebidas.png?c=2) no-repeat center center; }
  #parallax5-img {
    background: url(../m.images/home-unas.jpg?c=2) no-repeat center center; }
  #parallax6-img {
    background: url(../m.images/home-maquillaje.png?c=2) no-repeat center center; }
  #parallax7-img {
    background: url(../m.images/home-amigas.jpg?c=2) no-repeat center center; }
  .parallax-bg {
    background: url(../m.images/home-banner.jpg); } }

/*----------  Medium  ----------*/
@media only screen and (min-width: 40.063em) {
  .texto-banner {
    font-size: 4em;
    margin-top: 200px; }
  #parallax1-img {
    background: url(../images/home-mujer.jpg?c=2) no-repeat center center; }
  #parallax2-img {
    background: url(../images/home-liquido.png?c=2) no-repeat center center; }
  #parallax3-img {
    background: url(../images/home-cafe.jpg?c=2) no-repeat center center; }
  #parallax4-img {
    background: url(../images/home-bebidas.png?c=2) no-repeat center center; }
  #parallax5-img {
    background: url(../images/home-unas.jpg?c=2) no-repeat center center; }
  #parallax6-img {
    background: url(../images/home-maquillaje.png?c=2) no-repeat center center; }
  #parallax7-img {
    background: url(../images/home-amigas.jpg?c=2) no-repeat center center; }
  .parallax-bg {
    background: url(../images/home-banner.jpg); } }

/*----------  Large  ----------*/
/*----------  XL  ----------*/
