*, *:before, *:after {
  box-sizing: border-box; }

.debug {
  color: #fa00d4;
  opacity: .3; }

html, body {
  font-size: 12px; }

#vbody {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px;
  border: 0px; }

#menu {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  background-color: white; }

.separador {
  width: 100%;
  height: 40px; }
  .separador:before {
    content: '[separador 1]--------->'; }

.separador2 {
  width: 100%;
  height: 60px; }
  .separador2:before {
    content: '[separador 2]--------->'; }

.aire {
  width: 100%;
  height: 3000px; }
  .aire:before {
    content: '[aire]--------->'; }

/*----------  Target animados  ----------*/
.mascara1 {
  background-color: #db7d0a;
  left: 0%; }

.mascara2 {
  background-color: white;
  left: 50%; }

.mascara {
  width: 50%;
  height: 100%;
  position: absolute; }

.mascara-cont {
  position: absolute;
  width: 200%;
  height: 100%;
  left: -100%; }

[target] {
  position: relative;
  overflow: hidden; }

.fuente1 {
  font-family: 'Nunito Sans', sans-serif; }

.fuente2 {
  font-family: 'Julius Sans One', sans-serif; }

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3em;
  color: rgba(21, 26, 40, 0.9); }

h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2em;
  color: rgba(21, 26, 40, 0.9); }

h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5em;
  color: rgba(21, 26, 40, 0.9); }

.menu-texto {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  color: rgba(21, 26, 40, 0.9); }
  .menu-texto a {
    color: inherit; }

.menu-texto-contenedor {
  margin: 10px; }

.texto-banner {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  font-size: 4em;
  font-weight: lighter;
  margin: 0px auto;
  text-align: center;
  margin-top: 200px; }

.swiper-container {
  width: 100%;
  height: 500px; }

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center; }

/*----------  Menu sticky  ----------*/
#menu-sticky {
  position: relative;
  z-index: 999999 !important; }

#menu-contenedor {
  width: 100%; }

#sombra-emulada {
  width: 100%;
  height: 40px;
  background: url(../images/sombra.png?c=2) no-repeat center center;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

#home-banner1 {
  position: relative;
  z-index: 99998 !important; }

.active {
  border-bottom: 2px solid #db7d0a; }

/*----------  Parallax  ----------*/
#parallax1 {
  width: 100%;
  height: 500px;
  z-index: 99918 !important; }

#parallax1-img {
  background: url(../images/home-parallax1.jpg) no-repeat center center;
  background-size: 100% auto; }

.parallaxParent {
  height: 100vh; }

.parallaxParentOverFlow {
  overflow: hidden; }

.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%; }

#parallax2 {
  width: 100%;
  height: 400px;
  z-index: 99919 !important; }

#parallax2-img {
  background: url(../images/home-liquido.png?c=1) no-repeat center center;
  background-size: 100% auto; }

.parallaxParent2 {
  height: 100vh;
  position: relative; }

.parallaxParent2 > * {
  height: 230%;
  position: relative;
  top: -100%; }

.cuadro-liquido {
  width: 70%;
  height: 300px;
  background-color: rgba(21, 26, 40, 0.85);
  position: absolute;
  top: 0px;
  left: 15%; }
  .cuadro-liquido h1, .cuadro-liquido h3 {
    color: rgba(255, 255, 255, 0.8); }

#parallax3 {
  width: 100%;
  height: 500px;
  z-index: 99917 !important; }

#parallax3-img {
  background: url(../images/home-cafe.jpg) no-repeat center center;
  background-size: 100% auto; }

/*----------  Small  ----------*/
@media only screen and (max-width: 40em) {
  .swiper-container {
    height: 300px !important; }
  .texto-banner {
    font-size: 4em;
    width: 75%;
    margin: 0px auto;
    text-align: center;
    margin-top: 100px; } }

/*----------  Medium  ----------*/
/*----------  Large  ----------*/
/*----------  XL  ----------*/
