<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> {% block head %}
    <title>Barniz</title>
    <script type="text/javascript">
        isMobile = {
            Android: function() {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function() {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function() {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function() {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function() {
                return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
            },
            any: function() {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };
        
    </script>
    <link rel="stylesheet" href="./public/css/bundle.css?c={{ random() }}" type="text/css" />
    <script type="text/javascript" src="./public/js/bundle.js?c={{ random() }}"></script>
    {% endblock %}
</head>

<body>

    <div id="logoLanscape" style="display:none" >
        

        {# ---------------- LOGOTIPO SVG ---------- #}
                   
                        <svg  id="svg-logo2" version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 393.2 82.1" enable-background="new 0 0 393.2 82.1" xml:space="preserve">
                            <path fill="#2A2931" d="M67.1,39.5c5.7-3.9,9.2-10.6,9.2-18c0-5.3-1.9-10.7-5.2-14.7C67.5,2.4,62.4,0,56.8,0H20.5v37.8H0v5.3h20.5
                                v38.5h37.9c11.2,0,20.6-9.8,21.1-21.9C79.6,50.9,74.7,43.2,67.1,39.5z M25.9,5.4h30.9c8.1,0.2,14.2,7.2,14.2,16.2
                                c0,9.7-7.6,16.2-14.8,16.2h-29h-1.3V5.4z M25.9,43.2h33.4c8.1,0,15,7.6,15,16.6c0,9.8-8.3,16.6-15.8,16.6H25.9V43.2z"/>
                            <path fill="#2A2931" d="M115.5,0L79.9,81.6h5.9L98,53.6H137l12.3,28.1h5.9L119.6,0H115.5z M100.3,48.2l17.3-39.5l17.1,39.5H100.3z"
                                />
                            <path fill="#2A2931" d="M200.8,50.4c10.9-2.1,18.9-12.5,18.9-25.1c0-6.2-2.4-12.5-6.6-17.3c-4.5-5.2-10.6-8-17-8h-33.5v81.6h5.4
                                V50.8h26.7l19.9,30.8h6.4L200.8,50.4z M167.9,5.4H196c9.8,0,18.3,9.3,18.3,20c0,9.9-6.6,20.1-17.5,20.1h-28.9V5.4z"/>
                            <polygon fill="#C77F22" points="293.7,72.9 236.4,1 232.4,1 232.4,82.1 237.8,82.1 237.8,11.4 294.2,82.1 299,82.1 299,1.2 
                                293.7,1.2 "/>
                            <rect x="312.2" y="1.2" fill="#C77F22" width="5.3" height="81"/>
                            <polygon fill="#C77F22" points="328.4,1 328.4,6.4 385.6,6.4 328.2,77.4 327.8,77.8 327.8,82.1 392.8,82.1 392.8,76.8 335.4,76.8 
                                392.9,5.8 393.2,5.4 393.2,1 "/>
                            </svg>
               
                    {# --------------- LOGOTIPO SVG ----------- #}

    </div>
    <div id="menu-sticky" class="ocultar" >
         {% block menu %} {{ include ('include/menu.twig') }} {% endblock %} 
    </div>


    <div id="vbody" class="ocultar">
        <div class="row expanded small-uncollapse">
            {% block header %}  {% endblock %} 
            {% block content %}  {% endblock %} 
            {% block footer %}  {% endblock %}
        </div>
    </div>
</body>
</html>
