.contacto-morado{
	background-color: $colorMoradoTrans !important;
	padding: 20px;
}
.contacto-morado *{
	color:$colorBlanco;
}
.fondo-contacto{
	background:url(../images/home-vino.png) no-repeat right top;
	background-size: auto 100%;
}