/*----------  Menu sticky  ----------*/
#menu-sticky{
	position: relative;
	z-index: 999999 !important;
	width:100% !important;
}
#menu-contenedor{
	width:100%;
	//background-color:$colorBlanco;
}
#menu{
	//max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	border: 0px;
	background-color: $colorBlanco;
}
#sombra-emulada{
	width:100%;
	height:40px;
	background:url(../images/sombra.png?c=2) no-repeat top center;
	opacity:0;
	transition: all .5s ease-in-out;
}
#home-banner1{
	position: relative;
	z-index: 99998 !important;
}
.activo {
	border-bottom: 2px solid $colorNaranja !important;
}
.menu-texto{
	border-bottom: 2px solid $colorBlanco;
	transition: all .3s;
}
svg g path{
	stroke: none;
	fill:#E8AA5C;
}
#logo-svg{
	min-width:150px; width:5%;
}

.menu1 * {
	color: $colorNaranja;
}
.menu2 *{
	color: $colorNegro;
}
.menu3 *{
	color: $colorMarron;
}
.menu-movil-desplegado{
	height:100vh !important;
	background-color:$colorBlanco;
	text-align: center;

}
.menu-movil-desplegado .opcion{
	font-size: 20px;
	padding-bottom: 30px;

}
#menu-movil-click, .opcion{
	cursor: pointer;
}
	

