@mixin fuente1(){
	font-family: 'Nunito Sans', sans-serif;
}
@mixin fuente2(){
	font-family: 'Julius Sans One', sans-serif;
}


@mixin parallaxSmall{


	.cuadro-liquido, .cuadro-liquido2, .cuadro-liquido6{
		width:85% !important;
		left:8% !important;
	}		
	#parallax1{
		width: 100%;
		height: 400px !important;
	}
	#parallax2{
		width: 100%;
		height: 420px !important;
	}
	#parallax3{
		width: 100%;
		height: 400px !important;
	}
	#parallax4{
		width: 100%;
		height: 420px !important;
	}
	#parallax5{
		width: 100%;
		height: 400px !important;
	}
	#parallax6{
		width: 100%;
		height: 420px !important;
	}
	#parallax7{
		width: 100%;
		height: 420px !important;
	}


	#parallax1-img{
		background: url(../m.images/home-mujer.jpg?c=2) no-repeat center center;
	
	}
	#parallax2-img{
		background: url(../m.images/home-liquido.png?c=2) no-repeat center center;
	}
	#parallax3-img{
		background: url(../m.images/home-cafe.jpg?c=2) no-repeat center center;
	
	}
	#parallax4-img{
		background: url(../m.images/home-bebidas.png?c=2) no-repeat center center;
	
	}
	#parallax5-img{
		background: url(../m.images/home-unas.jpg?c=2) no-repeat center center;
	}
	#parallax6-img{
		background: url(../m.images/home-maquillaje.png?c=2) no-repeat center center;
	}
	#parallax7-img{
		background: url(../m.images/home-amigas.jpg?c=2) no-repeat center center;
	}
	
	.parallax-bg{
		background:url(../m.images/home-banner.jpg);
	}
}

@mixin parallaxMedium{
	#parallax1-img{
		background: url(../images/home-mujer.jpg?c=2) no-repeat center center;
	
	}
	#parallax2-img{
		background: url(../images/home-liquido.png?c=2) no-repeat center center;
	}
	#parallax3-img{
		background: url(../images/home-cafe.jpg?c=2) no-repeat center center;
	
	}
	#parallax4-img{
		background: url(../images/home-bebidas.png?c=2) no-repeat center center;
	}
	#parallax5-img{
		background: url(../images/home-unas.jpg?c=2) no-repeat center center;
	}
	#parallax6-img{
		background: url(../images/home-maquillaje.png?c=2) no-repeat center center;
	}
	#parallax7-img{
		background: url(../images/home-amigas.jpg?c=2) no-repeat center center;
	}
	.parallax-bg{
		background:url(../images/home-banner.jpg);
	}
}

