/*----------  Parallax [ 1 ] ----------*/
$parallaxSize:750px;
$parallaxSizeInfo:400px;
	#parallax1{
		width: 100%;
		height: $parallaxSize;
		z-index: 99918 !important;
	}
	#parallax1-img{
		background-size: 100% auto;
	
	}
	.parallaxParent {
		height: 100vh;
		
	}
	.parallaxParentOverFlow {
			overflow: hidden;
	}
	.parallaxParent > * {
		height: 200%;
		position: relative;
		top: -100%;
	}
	/*----------  Parallax [ 2 ]  ----------*/
	#parallax2{
		width: 100%;
		height:$parallaxSizeInfo;
		z-index: 99919 !important;

	}
	#parallax2-img{
		background-size: 100% auto;
	
	}
	.parallaxParent2 {
		height: 100vh;
		position:relative;
		
	}
	.parallaxParent2 > * {
		height: 230%;
		position: relative;
		top: -100%;
	}
	.home-liquido-menu{
		width:50%;
		min-width: 200px;
		margin:0px auto;
	}
	.cuadro-liquido{
		width:50%;
		left:25%;
		height:300px;
		background-color:$colorMoradoTrans;
		position:absolute;
		top:0px;
		h1,h3{
			color: $colorBlancoTrans;
		}
		.home-liquido-subtitulo{
			padding-bottom: 20px;
			border-bottom: 2px solid $colorNaranja;
		}
		.home-menu-subtitulo{
			padding-bottom: 20px;
		}

	}
	.cuadro-liquido2{
		width:50%;
		left:25%;
		height:300px;
		background-color:$colorNaranjaTrans;
		position:absolute;
		top:0px;
		h1,h3{
			color: $colorBlancoTrans;
		}
	
	}

	
	/*----------  Parallax [ 3 ]  ----------*/
	#parallax3{
		width: 100%;
		height: $parallaxSize  !important;
		z-index: 99917 !important;
	}
	#parallax3-img{
		background-size: 100% auto;
	
	}
	.boton{
		padding:10px;
		background-color:$colorBlanco
	}
	/*----------  Parallax [ 4 ]  ----------*/
	#parallax4{
		width: 100%;
		height: $parallaxSizeInfo;
		z-index: 99917 !important;
	}
	#parallax4-img{
		background-size: 100% auto;
	
	}
	/*----------  Parallax [ 5 ]  ----------*/
	#parallax5{
		width: 100%;
		height: $parallaxSize  !important;
		z-index: 99917 !important;
	}
	#parallax5-img{
		background-size: 100% auto;
	
	}
	/*----------  Parallax [ 6 ]  ----------*/
	#parallax6{
		width: 100%;
		height: $parallaxSizeInfo !important;
		z-index: 999917 !important;

	}
	#parallax6-img{
		background-size: 100% auto !important;

	
	}
	.home-liquido-menu6{
		width:50%;
		min-width: 200px;
		margin:0px auto;
	}
	.cuadro-liquido6{
		width:50%;
		left:25%;
		height:300px;
		background-color:$colorMarronTrans;
		position:absolute;
		top:0px;
		h1,h3{
			color: $colorBlancoTrans;
		}
		.home-liquido-subtitulo{
			padding-bottom: 20px;
			border-bottom: 2px solid $colorNaranja;
		}
		.home-menu-subtitulo{
			padding-bottom: 20px;
		}

	}
	/*----------  Parallax [ 7 ]  ----------*/
	#parallax7{
		width: 100%;

		height: $parallaxSize !important;
		z-index: 99917 !important;
	}
	#parallax7-img{
		background-size: 100% auto;
	
	}
	/*----------  Parallax [ 8 ]  ----------*/
	#parallax8{
		//overflow: hidden;
		
		width: 100%;
		height: $parallaxSizeInfo !important;
		z-index: 999917 !important;

	}
	#parallax8-img{
		background-size: 100% auto !important;

	
	}
	.home-liquido-menu8{
		width:90%;
		min-width: 400px;
		margin:0px auto;
	}
	.cuadro-liquido8{
		width:100%;
		height: auto !important;
		position:absolute;

		top:0px;
		h1,h3{
			color: $colorBlancoTrans;
		}
		.home-liquido-subtitulo{
			padding-bottom: 20px;
			border-bottom: 2px solid $colorNaranja;
		}
		.home-menu-subtitulo{
			padding-bottom: 20px;
		}
		.cuadro-centrado{
			color: $colorBlanco;
			width:100%;
			padding:20px;
			max-width: 1000px;
			background-color:$colorMoradoTrans;
			margin:0px auto;
		}
		.cuadro-centrado *{
			color: $colorBlanco;
		}
		.citas{
			border-right: 1px solid $colorNaranja;
			padding-right: 20px;
		}
		.contacto{
			padding-left: 20px;
		}

	}