/*----------  Parallax [ 1 ] ----------*/
	#parallax1{
		width: 100%;
		height: 500px;
		z-index: 99918 !important;
	}
	#parallax1-img{
		background-size: 100% auto;
	
	}
	.parallaxParent {
		height: 100vh;
		
	}
	.parallaxParentOverFlow {
			overflow: hidden;
	}
	.parallaxParent > * {
		height: 200%;
		position: relative;
		top: -100%;
	}
	/*----------  Parallax [ 2 ]  ----------*/
	#parallax2{
		width: 100%;
		height:400px;
		z-index: 99919 !important;

	}
	#parallax2-img{
		background-size: 100% auto;
	
	}
	.parallaxParent2 {
		height: 100vh;
		position:relative;
		
	}
	.parallaxParent2 > * {
		height: 230%;
		position: relative;
		top: -100%;
	}
	.home-liquido-menu{
		width:50%;
		min-width: 200px;
		margin:0px auto;
	}
	.cuadro-liquido{
		width:70%;
		height:300px;
		background-color:$colorMoradoTrans;
		position:absolute;
		top:0px;
		left:15%;
		h1,h3{
			color: $colorBlancoTrans;
		}
		.home-liquido-subtitulo{
			padding-bottom: 20px;
			border-bottom: 2px solid $colorNaranja;
		}

	}
	/*----------  Parallax [ 3 ]  ----------*/
	#parallax3{
		width: 100%;
		height: 500px;
		z-index: 99917 !important;
	}
	#parallax3-img{
		background-size: 100% auto;
	
	}

