$size1-texto:  1.2em; /* Texto */
$size2 :  1.5em; /* Menú texto y H3, Menú membresias */
$size3 :  2em;	/* H2  */
$size4 :  3em;	/* H1 */
$size5 :  4em; /* banner */
$colorNaranja: hsla(33, 91%, 45%, 1);
$colorNaranjaTrans: hsla(33, 91%, 45%, .8);
$colorMorado : hsla(224, 30%, 12%, .9);
$colorMoradoTrans : hsla(224, 30%, 12%, .85);
$colorBlanco: hsla(0, 0%, 100%, 1);
$colorBlancoTrans: hsla(0, 0%, 100%, .9);
$colorMarronTrans:hsla(1, 69%, 24%, .8);
