$size1-texto:  1.2em; /* Texto */
$size2 :  1.5em; /* Menú texto y H3, Menú membresias */
$size3 :  2em;	/* H2  */
$size4 :  3em;	/* H1 */
$size5 :  4em; /* banner */
$colorNaranja: rgba(199,111,0,1);
$colorNaranjaTrans:  rgba(199,111,0,.8);
$colorMorado : rgba(22,27,41,1);
$colorMoradoTrans : rgba(22,27,41,.8);
$colorBlanco: #ffffff;
$colorBlancoTrans: #ffffff;
$colorGris: rgba(0,0,0,.7);
$colorGrisClaro: rgba(0,0,0,.2);
$colorMarron: rgba(105,20,19,1);
$colorMarronTrans: rgba(105,20,19,.8);
$colorNegro: #000000;

