body{
	//background-color: red;
}
div{
	//outline: 1px solid red;
}
.debug{
	color:hsla(309, 100%, 49%, 1);
	opacity:.3;
	&:before{
		content:'' !important;
	}
}
@import 'includes/variables.scss';
@import 'includes/mixins.scss';
@import 'includes/general.scss';
@import 'includes/target.scss';
@import 'includes/home.scss';
@import 'includes/banner.scss';
@import 'includes/menu.scss';
@import 'includes/parallax.scss';
@import 'includes/responsive.scss';
@import 'includes/footer.scss';
@import 'includes/membresias.scss';
@import 'includes/servicios-menu.scss';
@import 'includes/contacto.scss';






