
<div class="separador2 debug"></div>
<div id="trigger_sec8"></div>

<div class="fondo-contacto">
<div class="row row-center  contacto-morado">
	
	<div class="small-12">
						{#  ------------------------ #}
						<div class="row " id="sec-citas">



							<div class="columns small-12 citas  enviado ">
									<div class="separador2"></div>
									<h1>¡Gracias!</h1>
									<div class="separador2"></div>
									<h3>Tu mensaje ha sido enviado y en breve nos pondremos en contacto contigo.</h3>
									<div class="separador2"></div>

							</div>




							<div class="columns small-12 medium-6 citas forma">
									<h1>CITAS</h1>

 									<label>NOMBRE
										<div class="input-group">
											
											 <input class="input-group-field" type="text" id="frmNombre">
											  <span class="input-group-label"><img src="public/images/icono-form-1.png"></span> 

										</div>
									</label>
									<label>CORREO
										<div class="input-group">
										 <input class="input-group-field" type="email" id="frmCorreo">
										  <span class="input-group-label"><img src="public/images/icono-form-1.png"></span> 
										</div>
									</label>
									<label>FECHA
										<div class="input-group">
										 <input class="input-group-field" type="date"  id="dp1">
										  <span class="input-group-label"><img src="public/images/icono-form-2.png"></span> 
										</div>
									</label>
									<label>HORA
										<div class="input-group">
										 <input class="input-group-field" type="time" id="frmHora">
										  <span class="input-group-label"><img src="public/images/icono-form-3.png"></span> 
										</div>
									</label>
									<label>MENSAJE
										<div class="input-group">
										 <textarea class="input-group-field" id="frmMensaje"></textarea>
										  <span class="input-group-label"><img src="public/images/icono-form-4.png"></span> 
										</div>
									</label>


										<div class="input-group-button">
										 <input type="submit" class="button show-for-small-only large enviarForma1" value="ENVIAR">
									    	<input type="submit" class="button show-for-medium enviarForma1" value="ENVIAR">
									  </div>


							</div>
							<div class="separador2 show-for-small-only"></div>
							<div class="columns small-12 medium-6 contacto forma">
										<div class="row">
											<div class="columns small-12 text-center"><img src="public/images/contacto.png" alt=""></div>
										</div>

										<div class="row">
											<div class="columns small-12 medium-6">
												<h3>Días y Horarios</h3>
												<div class="texto">
													Martes a Sábado <br />8:30am – 9pm<br>
													Domingo<br />8:30am – 5pm<p class="show-for-small-only" /></p>
												</div>
											</div>

											<div class="separador  hide-for-small-only"></div>
											<div class="columns small-12 medium-6">
												<h3>Teléfono</h3>
												<div class="texto">
													+(52) 55 7826 5100 / 5111<p class="show-for-small-only" /></p>
												</div>
											</div>
											<div class="separador show-for-medium-only"></div>

											<div class="columns small-12 medium-6">
												<h3>Dirección</h3>
												<div class="texto">
														Avenida Moliere 63,  Polanco, 11550, México D.F.<p class="show-for-small-only" /></p>
												</div>

											</div>
											<div class="columns small-12 medium-6">
												<h3>Correo</h3>
												<div class="texto">
													<a href="mailto:hola@barnizbar.com.mx">hola@barnizbar.com.mx</a><p class="show-for-small-only" /></p>
												</div>
											</div>
											
										</div>
										<!--
										
										<div class="separador forma"></div>
										
										<div class="row forma">
											<div class="columns small-12 text-left">
												<label>MENSAJE
													<div class="input-group">
													 <textarea class="input-group-field" placeholder=""></textarea>
													  <span class="input-group-label"><img src="public/images/icono-form-4.png"></span> 
													</div>
												</label>
												<div class="input-group-button">
													 <input type="submit" class="button show-for-small-only large enviarForma2" value="ENVIAR">
												    <input type="submit" class="button show-for-medium enviarForma2" value="ENVIAR">
												    <div class="separador2 debug show-for-small-only"></div>
												  </div>

											</div>


										</div>
										-->
											
							</div>
						</div>
						{#  ------------------------ #}
							

	</div>


</div>
<div class="separador2 debug hide-for-small-only"></div>
</div>


