<div id="bloque-home"></div>
<div id="menu_trigger_sec1"></div>
<div id="sec-home" ></div>
<div class="separador3 hide-for-large"></div>
<div class="columns small-12">
	<!-- Slider main container -->
	<div id="trigger_sec1"></div>
	<div class="swiper-container" id="home-banner1">
	    <!-- Additional required wrapper -->
	    <div class="parallax-bg"></div>
	    <div class="swiper-wrapper">
	        <!-- Slides -->
	        <div class="swiper-slide homebanner1">
	        	<div class="texto-banner" >“CHEERS TO YOUR VANITY”</div>
	        </div>
	        <div class="swiper-slide homebanner2">
	        	<div class="texto-banner ir" ir="sec-menu">MENÚ</div>
	        </div>
	        <div class="swiper-slide homebanner3">
	        	<div class="texto-banner ir" ir="sec-servicios">SERVICIOS</div>
	        </div>
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>
	    
	    <!-- If we need navigation buttons -->
	    <div class="swiper-button-prev"><img src="public/images/home-flecha-1.png" /></div>
	    <div class="swiper-button-next"><img src="public/images/home-flecha-2.png" /></div>
	    
	    <!-- If we need scrollbar -->
	    <div class="swiper-scrollbar"></div>
	</div>
</div>


