
<div class="hr"></div>
<div id="trigger_sec6"></div>
<div class="columns small-12 small-uncollapse ">
	<div class="row expanded align-center small-uncollapse">
			<div class="columns small-12 parallaxParent2" id="parallax6" >
					<div style="position:absolute; top:50px"></div>
					<div id="parallax6-img"></div>

					<div class="row expanded cuadro-liquido6 small-uncollapse">
					<div id="sec-servicios" ></div>
						<div class="columns small-12 medium-6 align-self-middle text-center">
							<h1>SERVICIOS</h1>
							
						</div>
						<div class="columns small-12 medium-6 align-self-middle text-center">
							<div class="home-liquido-menu6 text-center">
								<div><h3 class="home-liquido-subtitulo ir" ir="submenu2-s1">Manicure & Pedicura</h3></div>
								<div><h3 class="home-liquido-subtitulo ir" ir="submenu2-s2">Secado &  Peinado</h3></div>
								<div><h3 class="home-liquido-subtitulo ir" ir="submenu2-s3">Maquillaje</h3></div>
								<div><h3 class="home-liquido-subtitulo ir" ir="submenu2-s4">Depilación</h3></div>

								
							</div>
						</div>
					</div>
		
		</div>
	</div>
</div>


{# ------------------------------------------------------------------------------ #}
<div class="submenu2" >
	<div class="colums small-12">

		<script type="text/javascript">
			 if (!isMobile.any()) {
			 	document.write('<div class="parallax-window _parallax1" data-parallax="scroll" data-position-y="80px"data-image-src="public/images/home-servicioschica.jpg" data-speed="0.4" />');
			 }else{
			 //	alert('escribe');
			 	document.write('<img src="public/o.images/menu-bebidas.jpg" />');
			 }

		</script>

	</div>

	<div class="row row-center" id="submenu2">
		<div class="columns small-12 text-center"><img src="public/images/titular-servicios.png"></div>
	</div>


	<div class="row row-center"  > 
		<div class="columns small-12 medium-12 servicios-menu" id="submenu2-s1">
			<h2 class="marron">MANICURE & PEDICURE</h2>
		</div>
		<div class="columns small-12 medium-12 servicios-menu">
			<h3 class="h3-servicios">BARNIZ MANICURE</h3>
			<h3 class="h3-servicios">SHELLAC® MANICURE</h3>
			<h3 class="h3-servicios">CAMBIO DE ESMALTE</h3>

			<h3 class="h3-servicios">BARNIZ PEDICURE</h3>
			<h3 class="h3-servicios">SHELLAC® PEDICURA</h3>
			<h3 class="h3-servicios">CAMBIO DE ESMALTE</h3>


		</div>
	<div class="hr"></div>
		<div class="columns small-12 medium-12 servicios-menu"  id="submenu2-s2">
			<h2 class="marron">SECADO <span style="font-size:.6em !important">(INCLUYE LAVADO)</span></h2>
		</div>
		<div class="columns small-12 medium-12 servicios-menu">
		
			<h3 class="bold">ESTILOS</h3>
			<h3 class="h3-servicios">VOLUMEN</h3>
			<h3 class="h3-servicios">ONDAS</h3>
			<h3 class="h3-servicios">LACIO</h3>
		</div>
	<div class="hr"></div>
		<div class="columns small-12 medium-12 servicios-menu">
			<h2 class="marron">PEINADO</h2>
		</div>
		<div class="columns small-12 medium-12 servicios-menu">
			<h3 class="bold">ESTILOS</h3>
			<h3 class="h3-servicios">TRENZA</h3>
			<h3 class="h3-servicios">CHONGO</h3>
			<h3 class="h3-servicios">HIGH PONY</h3>
			<h3 class="bold">EXTRAS</h3>
			<h3 class="h3-servicios">MASAJE - 10 MINUTOS DE MASAJE DURANTE CHAMPÚ<br>TRATAMIENTO HIDRATANTE - MASCARA HIDRATANTE SEGUIDO DE UN MASAJE</h3>
		</div>
	<div class="hr"></div>
		<div class="columns small-12 medium-12 servicios-menu"  id="submenu2-s3">
			<h2 class="marron">MAQUILLAJE</h2>
		</div>
		<div class="columns small-12 medium-12 servicios-menu">
			<h3 class="bold">TODA LA CARA</h3>
			<h3 class="h3-servicios">INCLUYE: BASE, RUBOR, CORRECTOR, ILUMINADOR, CONTORNO, SOMBRAS, DELINEADOR OJOS, RIMEL, MAQUILLAJE CEJAS Y LABIAL</h3>
			{#
			<h3 class="bold">LOOKS</h3>
			<h3 class="h3-servicios">NO MAKE UP MAKE UP: NATURAL, SIMPLE, CLEAN DRAMATIC: SMOKEY EYE, BOLD LIP AND BROW MODERN CLASSIC</h3>
			#}
			<h3 class="bold">SOLO OJOS</h3>
			<h3 class="h3-servicios">INCLUYE: SOMBRA DE OJOS, DELINEADOR, MAQUILLAJE DE CEJAS Y RIMEL </h3>
		</div>
		<div class="hr"></div>
		<div class="columns small-12 medium-12 servicios-menu" id="submenu2-s4">
			<h2 class="marron">DEPILACIÓN</h2>
		</div>
		<div class="columns small-12 medium-12 servicios-menu">
		
			<h3 class="h3-servicios">CEJAS</h3>
			<h3 class="h3-servicios">LABIO SUPERIOR</h3>
	
		</div>






	</div>



	<div class="separador debug show-for-medium"></div>
	
</div>
<div class="separador2 debug show-for-medium"></div>
