

<div class="columns small-12 footer" style="height:100px;">
	<div class="row expanded align-center">
		<div class="columns small-12 text-center texto redessociales">
			<img src="public/images/redes1.png">
			<img src="public/images/redes2.png">
			<img src="public/images/redes3.png">
		</div>
	</div>
</div>

