
<div class="separador2 debug"></div>
<div id="trigger_sec3"></div>
<div class="columns small-12">
	<div class="row expanded align-center">
		<div class="columns small-12 parallaxParent2" id="parallax2" >
				<div id="parallax2-img"></div>
				<div class="row expanded cuadro-liquido">
					<div class="columns small-12 medium-6 align-self-middle text-center"><h1>MEMBRESIAS</h1></div>
					<div class="columns small-12 medium-6 align-self-middle text-center">
						<div class="home-liquido-menu text-center">
							<div><h3 class="home-liquido-subtitulo">CONSENTIDA</h3></div>
							<div><h3 class="home-liquido-subtitulo">MODERNA</h3></div>
							<div><h3 class="home-liquido-subtitulo">MODERNO</h3></div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>