{#
<div id="x"></div>
<div class="columns small-12">
	<div class="row expanded align-center" >

		<div class="columns small-12 parallaxParent parallaxParentOverFlow" id="parallax5" >
				<div id="parallax5-img"></div>
		</div>
	</div>
	
</div>
#}
<div class="colums small-12">
		<script type="text/javascript">
			 if (!isMobile.any()) {
			 	document.write('<div class="parallax-window _parallax1" data-parallax="scroll" data-image-src="public/images/home-unas.jpg" data-speed="0.4" />');
			 }else{
			 //	alert('escribe');
			 	document.write('<img src="public/o.images/home-unas.jpg" />');
			 }

		</script>
	
	</div>
</div>