
<div class="separador2 debug"></div>
<div id="trigger_sec6"></div>
<div class="columns small-12 small-uncollapse ">
	<div class="row expanded align-center small-uncollapse">
			<div class="columns small-12 parallaxParent2" id="parallax6" >
					<div id="sec-membresias" style="position:absolute; top:50px"></div>
					<div id="parallax6-img"></div>

					<div class="row expanded cuadro-liquido6 small-uncollapse">
					<div id="sec-servicios" ></div>
						<div class="columns small-12 medium-6 align-self-middle text-center">
							<h1>SERVICIOS</h1>
							
						</div>
						<div class="columns small-12 medium-6 align-self-middle text-center">
							<div class="home-liquido-menu6 text-center">
								<div><h3 class="home-liquido-subtitulo">Manicure & Pedicura</h3></div>
								<div><h3 class="home-liquido-subtitulo">Secado &  Peinado</h3></div>
								<div><h3 class="home-liquido-subtitulo">Maquillaje</h3></div>
								<div><h3 class="home-liquido-subtitulo">Depilación</h3></div>

								
							</div>
						</div>
					</div>
		
		</div>
	</div>
</div>
