
<div class="columns small-12">
	<div class="row expanded align-center" >
	<div id="trigger_sec7"></div>
		<div class="columns small-12 parallaxParent parallaxParentOverFlow" id="parallax7" >
				<div id="parallax7-img"></div>
		</div>
	</div>
	
</div>
