
<div class="separador2 debug"></div>
<div id="trigger_sec2"></div>
<div class="columns small-12">
	<div class="row expanded align-center">
		<div class="columns small-3 text-center">
			<h1>NOSOTROS</h1>
		</div>
		<div class="columns small-3 text-left" >
			{{ include('include/svg.twig') }}
		</div>
		<div class="columns small-3" target>
		<b>Barniz Bar</b> es muchomás que un salón de belleza en la Ciudad de México, es un nuevo concepto, diferente y original, el lugar ideal para disfrutar de una carta de bebidas y alimentos para cada momento del día mientras te relajas y te pones guapa en un ambiente social.
		</div>
	</div>
</div>
<div class="separador2 debug"></div>
