
<div id="x"></div>
<div class="columns small-12">
	<div class="row expanded align-center" >

		<div class="columns small-12 parallaxParent parallaxParentOverFlow" id="parallax5" >
				<div id="parallax5-img"></div>
		</div>
	</div>
	
</div>
