
<div class="separador2 debug"></div>
<div id="trigger_sec3"></div>





<div class="columns small-12 small-uncollapse ">
	<div class="row expanded align-center small-uncollapse">
			<div class="columns small-12 parallaxParent2" id="parallax2" >
					<div id="sec-membresias" style="position:absolute; top:50px"></div>
					<div id="parallax2-img"></div>

					<div class="row expanded cuadro-liquido small-uncollapse">
						<div class="columns small-12 medium-6 align-self-middle text-center">
							<h1>MEMBRESÍAS</h1>
							
						</div>
						<div class="columns small-12 medium-6 align-self-middle text-center">
							<div class="home-liquido-menu text-center">
								<div><h3 class="home-liquido-subtitulo ir" ir="submenu1">CONSENTIDA</h3></div>
								<div><h3 class="home-liquido-subtitulo ir" ir="submenu1">MODERNA</h3></div>
								<div><h3 class="home-liquido-subtitulo ir" ir="submenu1">MODERNO</h3></div>
							</div>
						</div>



					</div>
		
		</div>
	</div>
</div>
{# ------------------------------------------------------------------------------ #}
<div class="submenu">
	<div class="colums small-12">
		<script type="text/javascript">
			 if (!isMobile.any()) {
			 	document.write('<div class="parallax-window _parallax1" data-parallax="scroll" data-position-y="100px"data-image-src="public/images/membresias-bebida.jpg?c=1" data-speed="0.4" />');
			 }else{
			 //	alert('escribe');
			 	document.write('<img src="public/o.images/membresias-bebida.jpg?c=1" />');
			 }

		</script>
	</div>

	<div class="row row-center" id="submenu1">
		<div class="columns small-12 text-center"><img src="public/images/titulo-membresias.png?c=1"></div>
	</div>

	<div class="separador2 debug"></div>
	<div class="row row-center" >
		<div class="columns small-12 medium-4 naranja">
			<h2 class="marron">CONSENTIDA</h2>
			<h3>3 Manicures</h3>
			<h3>2 Pedicuras</h3>
			<h3>6 Secado</h3>
			<h3>2 Maquillaje</h3>
			<h3>1 Depilación Ceja</h3>
		</div>
		<div class="separador debug show-for-small-only"></div>
		<div class="columns small-12 medium-4 negro">
			<h2>MODERNA</h2>
				<h3>2 Manicures</h3>
				<h3>1 Pedicuras</h3>
				<h3>2 Secado</h3>
				<h3>1 Maquillaje</h3>
				<h3>1 Depilación Ceja</h3>

		</div>
		<div class="separador debug show-for-small-only"></div>
		<div class="columns small-12 medium-4 marron"><h2>MODERNO</h2>
				<h3>1 Manicure</h3>
				<h3>1 Pedicura</h3>
				<h3>1 Depilación Ceja</h3>
		</div> 
	</div>
	<div class="separador2 debug"></div>
	<div class="row row-center morado">
		<div class="columns small-12 medium-12">
			Los servicios incluidos en las membresías son mensuales y no acumulables.<br><br>
			Para más información contáctanos en hola@barnizbar.com.mx o en persona.
		</div>
		<div class="separador debug show-for-small-only"></div>
		<div class="columns small-12 medium-12">
			Algunos de los beneficios de las membresías son:<br>
	·Prioridad en tu cita<br>
	·Masajes complementarios de manos y pies<br>
	·Ciertos beneficios pueden ser compartidos con tu acompañante o invitado
		</div>
	</div>


</div>

<div class="separador2 debug show-for-medium"></div>


