
<div class="separador2 debug"></div>
<div id="trigger_sec4"></div>
<div class="columns small-12">
	<div class="row expanded align-center">
		<div class="columns small-12 parallaxParent2" id="parallax4" >
				<div id="parallax4-img"></div>
				<div class="row expanded cuadro-liquido2 sec-menu">
					<div class="columns small-12 medium-6 align-self-middle text-center"><h1>MENÚ</h1></div>
					<div class="columns small-12 medium-6 align-self-middle text-center">
						<div class="home-liquido-menu text-center">
							<div><h3 class="home-menu-subtitulo">Bebidas & Alimentos</h3></div>
							<div class="boton">Conócelo</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>