
<div class="separador2 debug"></div>
<div class="columns small-12 footer" style="height:100px; margin-top:100px;">
	<div class="row expanded align-center">
		<div class="columns small-12 text-center texto">
			REDES SOCIALES
		</div>
	</div>
</div>

