
<div class="separador2 debug"></div>
<div id="trigger_sec4"></div>
<div class="columns small-12">
	<div class="row expanded align-center">
		<div class="columns small-12 parallaxParent2" id="parallax4" >

				<div id="parallax4-img"></div>
				<div class="row expanded cuadro-liquido2 sec-menu">
				<div id="sec-menu" ></div>
					<div class="columns small-12 large-6 align-self-middle text-center"><h1>MENÚ</h1></div>
					<div class="columns small-12 large-6 align-self-middle text-center">
						<div class="home-liquido-menu text-center">
							<div><h3 class="home-menu-subtitulo">Bebidas & Alimentos</h3></div>
							<div class="boton ir" ir="submenu2">Conócelo</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

{# ------------------------------------------------------------------------------ #}
<div class="submenu2" >
	<div class="colums small-12">

		<script type="text/javascript">
			 if (!isMobile.any()) {
			 	document.write('<div class="parallax-window _parallax1" data-parallax="scroll" data-position-y="50px"data-image-src="public/images/menu-bebidas.jpg" data-speed="0.4" />');
			 }else{
			 //	alert('escribe');
			 	document.write('<img src="public/o.images/menu-bebidas.jpg" />');
			 }

		</script>

	</div>

	<div class="row row-center" id="submenu2">
		<div class="columns small-12 text-center"><img src="public/images/menu-titulo.png"></div>
	</div>

	<div class="separador2 debug"></div>
	<div class="row row-center"  > 
		<div class="columns small-12 medium-4 menu1">
		<h2>BEBIDAS</h2>
		</div>
		<div class="columns small-12 medium-4 menu2">
		<h2>BEBIDAS ALCOHÓLICAS</h2>
		</div>
		<div class="columns small-12 medium-4 menu3">
		<h2>ALIMENTOS</h2>
		</div>
	</div>
	<div class="separador debug show-for-medium"></div>
	<div class="row row-center" > 
		<div class="columns small-12 medium-4 menu1">
			
			<h3>AGUA</h3>
			<h3>CAFÉ</h3>
			<h3>TE</h3>
			<h3>REFRESCO</h3>
			<h3>JUGO</h3>
		</div>
		<div class="separador debug show-for-small-only"></div>

		<div class="columns small-12 medium-4 menu2">
			
				<h3>VINO TINTO</h3>
				<h3>VINO BLANCO</h3>
				<h3>DESTILADOS</h3>
				<h3>CERVEZA</h3>
				<h3>CÓCTELES</h3>

		</div>
		<div class="separador debug show-for-small-only"></div>
		<div class="columns small-12 medium-4 menu3">
				
				<h3>CROISSANTS</h3>
				<h3>PAN DULCE</h3>
				<h3>QUICHE</h3>
				<h3>BAGUETTE</h3>
				<h3>ENSALADA</h3>
				<h3>TAPAS</h3>
				<h3>TABLA DE CARNE Y QUESOS</h3>
		</div>
	</div>
	<div class="separador2 debug"></div>
	<div class="row row-center morado">
		<div class="columns small-12 medium-12">
			Los servicios incluidos en las membresías son mensuales y no acumulables.<br><br>
			Para más información contáctanos en hola@barnizbar.com.mx o en persona.
		</div>
		<div class="separador debug show-for-small-only"></div>
		<div class="columns small-12 medium-12">
			Algunos de los beneficios de las membresías son:<br>
	·Prioridad en tu cita<br>
	·Compartir servicios no usados en el mes con amigos<br>
	·Masajes complementarios de manos y pies<br>
	·Ciertos beneficios pueden ser compartidos con tu acompañante o invitado
		</div>
	</div>
</div>
<div class="separador2 debug show-for-medium"></div>