
<div class="separador2 debug"></div>
<div id="trigger_sec8"></div>

<div class="fondo-contacto">
<div class="row row-center  contacto-morado">
	
	<div class="small-12">
						{#  ------------------------ #}
						<div class="row " id="sec-citas">
							<div class="columns small-12 medium-6 citas ">
									<h1>CITAS</h1>

 									<label>NOMBRE
										<div class="input-group">
											
											 <input class="input-group-field" type="text">
											  <span class="input-group-label"><img src="public/images/icono-form-1.png"></span> 

										</div>
									</label>
									<label>CORREO
										<div class="input-group">
										 <input class="input-group-field" type="email">
										  <span class="input-group-label"><img src="public/images/icono-form-1.png"></span> 
										</div>
									</label>
									<label>FECHA
										<div class="input-group">
										 <input class="input-group-field" type="date"  id="dp1">
										  <span class="input-group-label"><img src="public/images/icono-form-2.png"></span> 
										</div>
									</label>
									<label>HORA
										<div class="input-group">
										 <input class="input-group-field" type="time">
										  <span class="input-group-label"><img src="public/images/icono-form-3.png"></span> 
										</div>
									</label>
									<label>MENSAJE
										<div class="input-group">
										 <textarea class="input-group-field" ></textarea>
										  <span class="input-group-label"><img src="public/images/icono-form-4.png"></span> 
										</div>
									</label>


										<div class="input-group-button">
										 <input type="submit" class="button show-for-small-only large" value="ENVIAR">
									    <input type="submit" class="button show-for-medium" value="ENVIAR">
									  </div>


							</div>
							<div class="separador2 show-for-small-only"></div>

							<div class="columns small-12 medium-6 contacto">
										<div class="row">
											<div class="columns small-12 text-center"><img src="public/images/contacto.png" alt=""></div>
										</div>

										<div class="row">
											<div class="columns small-12 medium-6">
												<h3>Días y Horarios</h3>
												<div class="texto">
													Martes a Sabado / 8:30am – 9pm<br>
													Domingo / 8:30am – 5pm<p class="show-for-small-only" /></p>
												</div>
											</div>
											<div class="columns small-12 medium-6">
												<h3>Teléfono</h3>
												<div class="texto">
													(55) xxxx xxxx xxx<p class="show-for-small-only" /></p>
												</div>
											</div>
											<div class="separador show-for-medium-only"></div>

											<div class="columns small-12 medium-6">
												<h3>Dirección</h3>
												<div class="texto">
														Avenida Moliere 63,  Polanco, 11550<p class="show-for-small-only" /></p>
												</div>

											</div>
											<div class="columns small-12 medium-6">
												<h3>Correo</h3>
												<div class="texto">
													hola@barnizbar.com.mx<p class="show-for-small-only" /></p>
												</div>
											</div>
											
										</div>
										<div class="separador"></div>
										<div class="row">
											<div class="columns small-12 text-left">
												<label>MENSAJE
													<div class="input-group">
													 <textarea class="input-group-field" placeholder=""></textarea>
													  <span class="input-group-label"><img src="public/images/icono-form-4.png"></span> 
													</div>
												</label>
												<div class="input-group-button">
													 <input type="submit" class="button show-for-small-only large" value="ENVIAR">
												    <input type="submit" class="button show-for-medium" value="ENVIAR">
												    <div class="separador2 debug show-for-small-only"></div>
												  </div>

											</div>


										</div>
											
							</div>
						</div>
						{#  ------------------------ #}
							

	</div>


</div>
<div class="separador2 debug hide-for-small-only"></div>
</div>


