<div id="menu_trigger_sec1"></div>
<div id="sec-home" ></div>
<div class="separador3 hide-for-medium"></div>
<div class="columns small-12">
	<!-- Slider main container -->
	<div id="trigger_sec1"></div>
	<div class="swiper-container" id="home-banner1">
	    <!-- Additional required wrapper -->
	    <div class="parallax-bg" data-swiper-parallax="-23%"></div>
	    <div class="swiper-wrapper">
	        <!-- Slides -->
	        <div class="swiper-slide">
	        	<div class="texto-banner" >“Cheers to your vanity”</div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="texto-banner">“Cheers to your vanity” 2</div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="texto-banner">“Cheers to your vanity” 3</div>
	        </div>
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>
	    
	    <!-- If we need navigation buttons -->
	    <div class="swiper-button-prev"><img src="public/images/home-flecha-1.png" /></div>
	    <div class="swiper-button-next"><img src="public/images/home-flecha-2.png" /></div>
	    
	    <!-- If we need scrollbar -->
	    <div class="swiper-scrollbar"></div>
	</div>
</div>