<div id="menu-contenedor">
	<div id="menu">
		<div class="separador debug"></div>
			<div class="row expanded" target>
				{# Menú small #}	
				<div class="columns small-order-1 small-2  hide-for-medium">


					<div style="width:50px" id="menu-movil-click">
						<svg id="svg1-icon"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve">
	
							<g id="svg1-menu-cerrar">
								<path class="st1" d="M28.3,54.8c-14.8,0-26.8-12-26.8-26.8s12-26.8,26.8-26.8s26.8,12,26.8,26.8S43.1,54.8,28.3,54.8z M28.3,4.2
									C15.2,4.2,4.5,14.9,4.5,28s10.7,23.8,23.8,23.8S52.2,41.1,52.2,28S41.5,4.2,28.3,4.2z"></path>
								<path class="st1" d="M18.3,40c7.2-7.3,14.4-14.6,21.5-21.8c1.4-1.4-0.8-3.5-2.1-2.1c-7.2,7.3-14.4,14.6-21.5,21.8
									C14.8,39.2,16.9,41.4,18.3,40L18.3,40z"></path>
								<path class="st1" d="M39.3,38.5c-6.8-7.6-13.6-15.3-20.3-22.9c-1.3-1.4-3.5,0.5-2.2,2c6.8,7.6,13.6,15.3,20.3,22.9
									C38.3,41.9,40.6,39.9,39.3,38.5L39.3,38.5z"></path>
							</g>
							<g id="svg1-menu">
								<path class="st1 WsRtWYzP_4" d="M28.3,54.8c-14.8,0-26.8-12-26.8-26.8s12-26.8,26.8-26.8s26.8,12,26.8,26.8S43.1,54.8,28.3,54.8z M28.3,4.2
									C15.2,4.2,4.5,14.9,4.5,28s10.7,23.8,23.8,23.8S52.2,41.1,52.2,28S41.5,4.2,28.3,4.2z" ></path>
								<path class="st1 WsRtWYzP_5" d="M12.7,18.2c10.2,0,20.4,0,30.7,0c1.9,0,1.9-3,0-3c-10.2,0-20.4,0-30.7,0C10.7,15.2,10.7,18.2,12.7,18.2
									L12.7,18.2z" ></path>
								<path class="st1 WsRtWYzP_6" d="M12.7,29.5c10.2,0,20.4,0,30.7,0c1.9,0,1.9-3,0-3c-10.2,0-20.4,0-30.7,0C10.7,26.5,10.7,29.5,12.7,29.5
									L12.7,29.5z" ></path>
								<path class="st1 WsRtWYzP_7" d="M12.7,40.8c10.2,0,20.4,0,30.7,0c1.9,0,1.9-3,0-3c-10.2,0-20.4,0-30.7,0C10.7,37.8,10.7,40.8,12.7,40.8
									L12.7,40.8z" ></path>
							</g>
							</svg>
						</div>








				 </div>
				{# Menú small #}
				<div class="columns small-order-2 medium-order-1 small-6 medium-2"><img src="public/images/logo.png" height="100%" /></div>
				<div class="columns	medium-order-2 medium-10 show-for-medium" >
						<div class="row expanded align-right menu-texto-contenedor">
							<div class="columns shrink menu-texto" id="sec1"><a href="./barniz/home" >HOME</a></div>
							<div class="columns shrink menu-texto" id="sec2"><a href="./barniz/nosotros" >NOSOTROS</a></div>
							<div class="columns shrink menu-texto" id="sec3"><a href="./barniz/membresias" >MEMBRESÍAS</a></div>
							<div class="columns shrink menu-texto" id="sec4"><a href="./barniz/menu" >MENÚ</a></div>
							<div class="columns shrink menu-texto" id="sec5"><a href="./barniz/servicios" >SERVICIOS</a></div>
							<div class="columns shrink menu-texto" id="sec6"><a href="./barniz/citas" >CITAS</a></div>
							<div class="columns shrink menu-texto" id="sec7"><a href="./barniz/contacto" >CONTACTO</a></div>
							<div class="columns shrink menu-texto" id="sec8"><a href="./barniz/galeria" >GALERÍA</a></div>
						</div>		
				</div>
			</div>

		<div class="separador separador-movil debug"></div>
	</div>
	<div id="sombra-emulada"></div>
</div>
