<div id="menu-contenedor">
	<div id="menu">
		<div class="separador debug"></div>
			<div class="row expanded" target>
				{# Menú small #}	
				<div class="columns small-order-1 small-6  hide-for-medium">- - - </div>
				{# Menú small #}
				<div class="columns small-order-2 medium-order-1 small-6 medium-2"><img src="public/images/logo.png" /></div>
				<div class="columns	medium-order-2 medium-10 show-for-medium" >
						<div class="row expanded align-right menu-texto-contenedor">
							<div class="columns shrink menu-texto" id="sec1"><a href="./barniz/home" >HOME</a></div>
							<div class="columns shrink menu-texto" id="sec2"><a href="./barniz/nosotros" >NOSOTROS</a></div>
							<div class="columns shrink menu-texto" id="sec3"><a href="./barniz/membresias" >MEMBRESÍAS</a></div>
							<div class="columns shrink menu-texto" id="sec4"><a href="./barniz/menu" >MENÚ</a></div>
							<div class="columns shrink menu-texto" id="sec5"><a href="./barniz/servicios" >SERVICIOS</a></div>
							<div class="columns shrink menu-texto" id="sec6"><a href="./barniz/citas" >CITAS</a></div>
							<div class="columns shrink menu-texto" id="sec7"><a href="./barniz/contacto" >CONTACTO</a></div>
							<div class="columns shrink menu-texto" id="sec8"><a href="./barniz/galeria" >GALERÍA</a></div>
						</div>		
				</div>
			</div>

		<div class="separador debug"></div>
	</div>
	<div id="sombra-emulada"></div>
</div>
