<div class="columns small-12" >
	<div class="row expanded" >
		<div class="columns small-6 small-order-1 hide-for-medium">- - - </div>
		<div class="columns small-6 medium-2 small-order-2 medium-order-1 medium-2"><img src="public/images/logo.png" /></div>
		<div class="columns	medium-10 medium-order-2 show-for-medium" >
				<div class="row expanded align-right menu-texto-contenedor">
					<div class="columns shrink menu-texto"><a href="./barniz/home" >HOME</a></div>
					<div class="columns shrink menu-texto"><a href="./barniz/nosotros" >NOSOTROS</a></div>
					<div class="columns shrink menu-texto"><a href="./barniz/membresias" >MEMBRESÍAS</a></div>
					<div class="columns shrink menu-texto"><a href="./barniz/menu" >MENÚ</a></div>
					<div class="columns shrink menu-texto"><a href="./barniz/servicios" >SERVICIOS</a></div>
					<div class="columns shrink menu-texto"><a href="./barniz/citas" >CITAS</a></div>
					<div class="columns shrink menu-texto"><a href="./barniz/contacto" >CONTACTO</a></div>
					<div class="columns shrink menu-texto"><a href="./barniz/galeria" >GALERÍA</a></div>
				</div>		
		</div>
	</div>
</div>