<div id="menu-contenedor">
	<div id="menu">
		<div class="separador debug"></div>
			<div class="row expanded" target>
				{# Menú small #}	
				<div class="columns small-order-1 small-3  hide-for-large">


					<div style="width:40px" id="menu-movil-click">
						<svg id="svg1-icon"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve">
	
							<g id="svg1-menu-cerrar" style="display:none">
								<path class="st1" d="M28.3,54.8c-14.8,0-26.8-12-26.8-26.8s12-26.8,26.8-26.8s26.8,12,26.8,26.8S43.1,54.8,28.3,54.8z M28.3,4.2
									C15.2,4.2,4.5,14.9,4.5,28s10.7,23.8,23.8,23.8S52.2,41.1,52.2,28S41.5,4.2,28.3,4.2z"></path>
								<path class="st1" d="M18.3,40c7.2-7.3,14.4-14.6,21.5-21.8c1.4-1.4-0.8-3.5-2.1-2.1c-7.2,7.3-14.4,14.6-21.5,21.8
									C14.8,39.2,16.9,41.4,18.3,40L18.3,40z"></path>
								<path class="st1" d="M39.3,38.5c-6.8-7.6-13.6-15.3-20.3-22.9c-1.3-1.4-3.5,0.5-2.2,2c6.8,7.6,13.6,15.3,20.3,22.9
									C38.3,41.9,40.6,39.9,39.3,38.5L39.3,38.5z"></path>
							</g>
							<g id="svg1-menu">
								<path class="st1 WsRtWYzP_4" d="M28.3,54.8c-14.8,0-26.8-12-26.8-26.8s12-26.8,26.8-26.8s26.8,12,26.8,26.8S43.1,54.8,28.3,54.8z M28.3,4.2
									C15.2,4.2,4.5,14.9,4.5,28s10.7,23.8,23.8,23.8S52.2,41.1,52.2,28S41.5,4.2,28.3,4.2z" ></path>
								<path class="st1 WsRtWYzP_5" d="M12.7,18.2c10.2,0,20.4,0,30.7,0c1.9,0,1.9-3,0-3c-10.2,0-20.4,0-30.7,0C10.7,15.2,10.7,18.2,12.7,18.2
									L12.7,18.2z" ></path>
								<path class="st1 WsRtWYzP_6" d="M12.7,29.5c10.2,0,20.4,0,30.7,0c1.9,0,1.9-3,0-3c-10.2,0-20.4,0-30.7,0C10.7,26.5,10.7,29.5,12.7,29.5
									L12.7,29.5z" ></path>
								<path class="st1 WsRtWYzP_7" d="M12.7,40.8c10.2,0,20.4,0,30.7,0c1.9,0,1.9-3,0-3c-10.2,0-20.4,0-30.7,0C10.7,37.8,10.7,40.8,12.7,40.8
									L12.7,40.8z" ></path>
							</g>
							</svg>
						</div>








				 </div>
				{# Menú small #}
				<div class="columns small-order-2 large-order-1 small-9 large-2 text-right">
					{# ---------------- LOGOTIPO SVG ---------- #}
					<div id="logo-svg" clickurl="./" >
						<svg  id="svg-logo" version="1.0" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 393.2 82.1" enable-background="new 0 0 393.2 82.1" xml:space="preserve">
							<path fill="#2A2931" d="M67.1,39.5c5.7-3.9,9.2-10.6,9.2-18c0-5.3-1.9-10.7-5.2-14.7C67.5,2.4,62.4,0,56.8,0H20.5v37.8H0v5.3h20.5
								v38.5h37.9c11.2,0,20.6-9.8,21.1-21.9C79.6,50.9,74.7,43.2,67.1,39.5z M25.9,5.4h30.9c8.1,0.2,14.2,7.2,14.2,16.2
								c0,9.7-7.6,16.2-14.8,16.2h-29h-1.3V5.4z M25.9,43.2h33.4c8.1,0,15,7.6,15,16.6c0,9.8-8.3,16.6-15.8,16.6H25.9V43.2z"/>
							<path fill="#2A2931" d="M115.5,0L79.9,81.6h5.9L98,53.6H137l12.3,28.1h5.9L119.6,0H115.5z M100.3,48.2l17.3-39.5l17.1,39.5H100.3z"
								/>
							<path fill="#2A2931" d="M200.8,50.4c10.9-2.1,18.9-12.5,18.9-25.1c0-6.2-2.4-12.5-6.6-17.3c-4.5-5.2-10.6-8-17-8h-33.5v81.6h5.4
								V50.8h26.7l19.9,30.8h6.4L200.8,50.4z M167.9,5.4H196c9.8,0,18.3,9.3,18.3,20c0,9.9-6.6,20.1-17.5,20.1h-28.9V5.4z"/>
							<polygon fill="#C77F22" points="293.7,72.9 236.4,1 232.4,1 232.4,82.1 237.8,82.1 237.8,11.4 294.2,82.1 299,82.1 299,1.2 
								293.7,1.2 "/>
							<rect x="312.2" y="1.2" fill="#C77F22" width="5.3" height="81"/>
							<polygon fill="#C77F22" points="328.4,1 328.4,6.4 385.6,6.4 328.2,77.4 327.8,77.8 327.8,82.1 392.8,82.1 392.8,76.8 335.4,76.8 
								392.9,5.8 393.2,5.4 393.2,1 "/>
							</svg>
					</div>
					{# --------------- LOGOTIPO SVG ----------- #}

				</div>
				<div class="columns	large-order-2 large-10 show-for-large" >
						<div class="row expanded align-right menu-texto-contenedor">
							<div class="columns shrink menu-texto ir" ir="bloque-home" id="sec1">HOME</div>
							<div class="columns shrink menu-texto ir" ir="bloque-nosotros" id="sec2">NOSOTROS</div>
							<div class="columns shrink menu-texto ir" ir="sec-membresias" id="sec3">MEMBRESÍAS</div>
							<div class="columns shrink menu-texto ir" ir="sec-menu" id="sec4">MENÚ</div>
							<div class="columns shrink menu-texto ir" ir="sec-servicios" id="sec5">SERVICIOS</div>
							<div class="columns shrink menu-texto ir" ir="sec-citas" id="sec6">CITAS/CONTACTO</div>
							{#
							<div class="columns shrink menu-texto ir" ir="sec-contacto" id="sec7">CONTACTO</div>
							<div class="columns shrink menu-texto ir" ir="sec-galeria" id="sec8">GALERÍA</div>
							#}
						</div>		
				</div>
			</div>

		<div class="separador separador-movil debug"></div>
	</div>
	<div id="sombra-emulada"></div>
</div>
